<h3>Forms Array - Reactive Forms</h3>
<hr>

<div class="container">
    <div class="row">
        <div class="col-md-12">
          <button
            type="button"
            class="btn btn-success"
            (click)="onAddUser()">Add User</button>
            <br>
            <hr>
            <br>
        </div>
      </div>
  <div class="row">
    <div class="col-md-12">
      
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>Email</th>
      <th>Strength</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersList">
      <td> {{ user.id }} </td>
      <td> {{ user.email }} </td>
      <td> {{ user.strength }} </td>
    </tr>
  </tbody>
</table>

<form [formGroup]="usersForm" (ngSubmit)="onSubmit()">
  <div class="col-xs-12" formArrayName="userData">
    <div
      class="row"
      *ngFor="let ingredientCtrl of usersForm.get('userData').controls; let i = index"
      [formGroupName]="i"
      style="margin-top: 10px;">
      <div class="col-xs-4">
        <input
          type="text"
          class="form-control"
          formControlName="id">
      </div>
      <div class="col-xs-4">
        <input
          type="text"
          class="form-control"
          formControlName="email">
      </div>
      <div class="col-xs-4">
        <input
          type="text"
          class="form-control"
          formControlName="strength">
      </div>
    </div>
    <hr>

  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>

    </div>
  </div>
</div>
